@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplica estilos dentro del wrapper del editor */
.editor-styles-wrapper {
  @apply font-sans text-gray-900;
}

.editor-styles-wrapper .wp-block {
  @apply mb-6;
}